body{
    background-color: #439889;
    background-image: url(pics/bg3.png);
}
.form-wrap{
  margin: 0 auto;
  background-color:rgba(255,255,255,0.4);
  
  border-radius:7px;
  padding:30px;
  
 
}
@font-face {
    font-family: myTenor;
    src: url(fonts\TenorSans-Regular.ttf);
}
header {
  
  margin-bottom: 3rem; 
  margin-top: 1rem;
  
  height: 3rem;
}

header .row {
  display: flex;
  align-items: center;
  background-color: #00695c;
    
}



header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: beige;
  padding: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;  
  font-family: 'Lato', sans-serif;
  opacity:1;    
  
}

header p:hover { 
  background-color: black;   
}
header p:active{
   background-color: darkcyan; 
}
section{
    margin-top: 10rem; 
    
}

section .names {    
  font-size: 2rem; 
  color: black;
  margin-right: 2rem;
}
section .values{
  font-size: 1.8rem; 

}

.btn.btn-default {
  
  border-radius: 2%;
  border: 1px solid black;
  color: #000000;
  text-shadow: none;
  background-color: #439889;

}

.btn.btn-default:hover {
   background-color: #00695c;
   border: 1px solid black;
   color: #ffffff;
}
section label{
  font-size:14px;
}
section h3,h4{
    color: black;
    margin-bottom: 0.5rem;
}
section h5{ 
  text-decoration:underline;
}
section h5:hover{ 
  color:blueviolet;
}

footer {
  font-size: 1rem;
  padding: 20px 0;
  margin-top: 3rem;
  text-align: right;    
}
