body{
    background-color: #439889;
    background-image: url(pics/bg3.png);
}

header {

  margin-bottom: 3rem;
  margin-top: 1rem;

  height: 3rem;
}

header .row {
  display: flex;
  align-items: center;
  background-color: #00695c;

}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {

  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: beige;
  padding: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: 'Lato', sans-serif;
  opacity:1;

}

header p:hover {
  background-color: black;
}
header p:active{
   background-color: darkcyan;
}
section{
    margin-top: 10rem;

}

.mrg{
  padding-top: 20px;
  margin: auto;
  border-radius: 0;
  display: block;  
  padding-bottom: 15px;   
   
}
.main{ 
  padding-left: 0px;  
  padding: 2%;
  margin: auto;
  border-radius: 0;
  display: block;
  background-color: #bdbdbd;
    margin-left: 0;
   
}

.desc{
   position: relative;
    
   border-radius: 2px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   padding: 1%;
   background-color:  rgb(239,239,239);
    margin-left: 0;
}


h3, .description {
    border-bottom: 1px solid #439889;
    
}

h3,h4, .description, .noline  {
    text-align: left; 
    margin-left: 2%;
}

.edit, .delete {
 color: #000 ;

 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 40px;
   line-height: 40px;
   text-align: center;
   width: 40px;
 position: absolute;
 
}

.edit{
  background-color: #439889;    
  top: -20px;
  right: 30px;  
 
}
.delete{
  background-color: #ff867f;   
  top: -20px;
  right: -10px; 
 
}
.apply, .comment{
   color: #fff ;
   background-color: #37474f;
   font-size: 14px;
   border-radius: 7%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 25px;
   line-height: 25px;
   text-align: center;
   width: 75px;
   position: absolute; 
   bottom: -25px;
}
.apply{
  
  right: 5px;   
}
.comment{
  
  right: 85px;    
}
.btn.btn-default {

  border-radius: 2%;
  border: 1px solid black;
  color: #000000;
  text-shadow: none;
  background-color: #439889;

}

.btn.btn-default:hover {
   background-color: #00695c;
   border: 1px solid black;
   color: #ffffff;
}





footer {
  font-size: 1rem;
  padding: 20px 0;
  margin-top: 3rem;
  text-align: right;
}
.menu{
  text-decoration: none !important;
  color: inherit !important;
  white-space: nowrap;
}
