html, body {margin:0;padding:0;}
body{
  background-color: HoneyDew;
}
.header{
  height:100%;
  background-color: White;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: Black;
}

.login-button{
  color:White;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 100;
  margin:10px 0px 0px 0px;
}
.header-menu{
  margin:10px 0px auto 0px;
}
.header-menu-item{
  color:SteelBlue;
  font-size: 1.7rem;
  display: inline-block;
  margin-bottom:0px;
  margin-top: auto;
  border-bottom-style: solid;
  border-radius: 0px;
  border-bottom-color: White;
  border-bottom-width: 3px;
}
.header-menu-item:hover{
  font-style: normal;
  color:Black;
  text-decoration: none;
  border-bottom-color: DodgerBlue;
}
.feed{
  padding:10px;
}
.banner{
  background-color: White;
}
.content{
  padding:10px;
}
.login-form{
  color:Black;
  padding: 50px 10px 50px 10px;
  margin: auto;

  background-color: White;
}
.form-group{
  padding:10px;
  max-width: 300px;
  margin: auto;
}
label{
  font-size: 1.7rem;
  font-weight: normal;
}
.login-text{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin:10px;
}
.info-block{
  background-color: White;
  padding:20px;

}
.avatar{
  height: 100%;
  width: 100%;

  border-radius: 50%;
  margin: auto;
  display: inline-block;
}
.info-name{
font-size:2.1rem;
font-weight: bold;
text-align: center;
}
.info-data{
  width:100%;
  margin:10px;
  font-size: 1.8rem;
}
.data-left{
  display:block;
  width: 50%;
  font-weight: bold;
}

.data-right{
  display:block;
  width: 50%;
}
.enter-btn{
  display:block;
  margin-bottom: 20px;
}
h4{
  font-weight: bold;
  margin:20px;
}
h3{
  font-weight: bold;
  margin:20px;
}
