body{
    background-image: url(pics/bg3.png);
    background-color: black;
}
.form-wrap{
  margin: 0 auto;
  background-color:orange;
  border-radius:20px;
  padding:30px;
  
  opacity: 0.5;
}

header {
  padding: 20px 0;
    margin-bottom: 3rem; 
    margin-top: 1rem;
}

header .row {
  display: flex;
  align-items: center;
}

header h2 {
  font-family:sans-serif;  
  font-style: oblique;
  font-weight: 200;
  margin: 0;
  color: beige;
}
header h2:hover {
  color: orange;    
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0.5rem;
  font-size: 1rem;
  color: orange;
  padding: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;    
  border: 0.01rem solid orange;  
}

header p:hover {
  color:#333333;
  background-color: orange;
  opacity: 0.7;    
}
section{
}

section .names {    
  font-size: 2rem; 
  color: black;
  margin-right: 2rem;
}
section .values{
  font-size: 1.8rem; 

}
section button{
    margin: 0.4rem;
    border-radius: 50%;
}
section label{
  font-size:14px;
}
section h5{ 
  text-decoration:underline;
}
section h5:hover{ 
  color:blueviolet;
}

footer {
  font-size: 1rem;
  padding: 20px 0;
  margin-top: 3rem;
  text-align: right;    
}
